<div id="content">
  <h1>Designing futures</h1>
  <p class="homeParaLeft">High-performance thinking is the answer: clear, nimble and imaginative ‘thinking-in-action’ - thinking that energizes the exploration and achievement of what’s possible.
At Second Road we’ve devised an innovative system of Thinking Technologies™, grounded in the art of language and the craft of design, to help clients prosper during times of unprecedented complexity and change.</p>
  <p class="homeParaRight">Thriving high-performance enterprises think creatively to: 
• convert complexity into strategic advantage 
• generate rule-breaking ideas that breed innovation 
engage the workforce towards a sense of shared citizenship 
demystify voluminous data to extract insight and meaning
foster an ethic of thoughtful leadership.

Our goal is to navigate the economic and social shifts of the present and build a better future.</p>
  <ul class="homeLinks" />
</div>

<div id="extras" class="homeServices">  
  <%= image_tag("services-image.jpg", :width => "720", :height => "359" ) %>
  <h2>OUR DOMAINS OF EXPERIENCE AND EXPERTISE</h2>
  <div class="servicesBox">
    <a href='http://secondroad.bm-30.baselocation.net/what-we-do/strategy/'>
      <h3>STRATEGY</h3>
      <p>How do you build a future in an age of uncertainty?</p>
    </a>
  </div>

  <div class="servicesBox">
    <a href='http://secondroad.bm-30.baselocation.net/what-we-do/innovation/'>
	  <h3>INNOVATION</h3>
      <p>How do you discover new opportunities and generate new ideas?</p>
    </a>    
  </div>

  <div class="servicesBox">
    <a href='http://secondroad.bm-30.baselocation.net/what-we-do/engagement/'>
	  <h3>ENGAGEMENT</h3>
      <p>How do you inspire a community to act?</p>
    </a>    
  </div>

  <div class="servicesBox">
    <a href='http://secondroad.bm-30.baselocation.net/what-we-do/clarity/'>
	  <h3>CLARITY</h3>
      <p>How do you turn information into intelligence and insight?</p>
    </a>
  </div>
</div>
<div id="promos">
  <div class="promoBox">
    <h3>What is an authorised organisation?</h3>
    <a href='http://www.reactive.com.au'>Play video</a>
  </div>
</div>

