<!-- INTRO PARAGRAPH - HIGH PERFORMANCE ENTERPRISE -->

<div class = "home_text" id = "openingPanel">
	<div id = "openingPanelAnswer">
		<p>At Second Road we’ve devised a unique approach to strategy + innovation to help our clients thrive in times of unprecedented complexity and change. We use the arts of conversation and design to teach organisations how to grapple with ambiguity, tackle big, wicked problems, and unlock creative thinking. To help clients co-design their future we work within six primary domains.</p> 
	</div>

	
	
  <div id = "openingPanelQuestion">How do you shape the future of an enterprise?</div>


</div>




