<!-- INTRO PARAGRAPH - HIGH PERFORMANCE ENTERPRISE -->

<div class = "home_text" id = "openingPanel">
	<div id = "openingPanelAnswer">
		<div class = "fadeInPanelContent">
				<!-- <p>At Second Road we’ve devised a unique approach to strategy + innovation to help our clients thrive in times of unprecedented complexity and change. We use the arts of conversation and design to teach organisations how to grapple with ambiguity, tackle big, wicked problems, and unlock creative thinking. To help clients co-design their future we work within six primary domains.</p> -->
		  <p> 2R is a strategy and innovation firm — with a big difference.</p>
		  <p>Everything we do is about unlocking and empowering imagination and intelligence within organizations.</p>
		  <p>We are unashamedly working to enable organizations not only to be smarter — but more human. We work with clients, not for them.</p>	
				
		</div>
	 
	</div>

	
	
  <div id = "openingPanelQuestion">How do you shape the future of an enterprise?</div>


</div>




