<div id="content">
  <h1>Designing futures</h1>
  <p class="homeParaLeft">High-performance thinking is the answer: clear, nimble and imaginative ‘thinking-in-action’ - thinking that energizes the exploration and achievement of what’s possible.
At Second Road we’ve devised an innovative system of Thinking Technologies™, grounded in the art of language and the craft of design, to help clients prosper during times of unprecedented complexity and change.</p>
  <p class="homeParaRight">Thriving high-performance enterprises think creatively to: 
• convert complexity into strategic advantage 
• generate rule-breaking ideas that breed innovation 
engage the workforce towards a sense of shared citizenship 
demystify voluminous data to extract insight and meaning
foster an ethic of thoughtful leadership.

Our goal is to navigate the economic and social shifts of the present and build a better future.</p>
  <ul class="homeLinks" />
</div>

<div id="extras" class="homeServices">  
  <%= image_tag("services-image.jpg", :width => "720", :height => "359" ) %>
  <h2>OUR DOMAINS OF EXPERIENCE AND EXPERTISE</h2>
  <div class="servicesBox">
    <a href='http://secondroad.bm-30.baselocation.net/what-we-do/strategy/'>
      <h3>STRATEGY</h3>
      <p>How do you build a future in an age of uncertainty?</p>
    </a>
  </div>

  <div class="servicesBox">
    <a href='http://secondroad.bm-30.baselocation.net/what-we-do/innovation/'>
	  <h3>INNOVATION</h3>
      <p>How do you discover new opportunities and generate new ideas?</p>
    </a>    
  </div>

  <div class="servicesBox">
    <a href='http://secondroad.bm-30.baselocation.net/what-we-do/engagement/'>
	  <h3>ENGAGEMENT</h3>
      <p>How do you inspire a community to act?</p>
    </a>    
  </div>

  <div class="servicesBox">
    <a href='http://secondroad.bm-30.baselocation.net/what-we-do/clarity/'>
	  <h3>CLARITY</h3>
      <p>How do you turn information into intelligence and insight?</p>
    </a>
  </div>
</div>
<div class= "home_domain">
  <h1>Strategise</h1>
  <div class = "text_cols">
    <div class = "col">
      <p><strong><em>How do you build a future in an age of uncertainty? </em></strong></p>

      <p>Today’s world offers few absolutes and even fewer formulas for success. It is difficult to compete in an environment of lightning-fast change, let alone envision a future that doesn’t yet exist. To address these wicked problems, astute leaders need to re-calibrate the traditional instruments of strategy using the tools of conceptualization, conversation and co-creation. </p>
  	
    </div>
    <div class = "col">
    	<p>A successful strategy should be a robust blend of imagination and will – a dynamic, collaborative rhythm activated by clear, coherent intent. We work with clients to ignite their inherent creativity and to design their future success by: </p>
		<ul>
			<li>redefining the industry landscape</li>
			<li>reconfiguring enterprise systems</li>
			<li>re-energizing revenue models</li>
			<li>reinvigorating legacy products and services.</li>
		</ul>
		<p>Fueled by the power of design and language, Second Road enables leaders to discover what is possible, not just probable.</p>
    </div>
  </div>
</div>
<div class = "home_box_set">
	<div class="box_element1"></div>
	<div class="box_element2"></div>
	<div class="box_element1"></div>
	<div class="box_element2"></div>
	<div class="box_element1"></div>
	<div class="box_element2"></div>
	<div class="box_element1"></div>
	<div class="box_element2"></div>
	<div class="box_element1"></div>
</div>
<div class= "home_domain">
	<h1>Innovate</h1>
  <div class = "text_cols">
    <div class = "col">
      <p><strong><em>How do you discover new opportunities and generate new ideas?</em></strong></p>
      <p>Harnessing the dynamic forces that envelop an organization is not a task for the faint-hearted. Resourceful leaders know that success relies on operational dexterity and a genuine capacity to innovate. </p>
      <p>The high-performance enterprise thrives on <strong>brilliant ideas that deliver a compelling competitive edge</strong> - whether looking outwards to revolutionize customer relationships, or inwards to revitalize organizational structures and culture.
      </p>
    </div>
    <div class = "col">
    	<p>Second Road works with clients to:</p>
        <ul>
        	<li>develop exceptional stakeholder experience</li>
			<li>discover the nuances and unarticulated desires of a user</li>
			<li>embed a creative disposition in business culture.</li>
        </ul>
		<p>Our Thinking Technologies™ fuse energies of design and language, uniting wild imagination with hard-nosed invention, to propel the process of innovation. We re-vision; we do not simply re-formulate.</p>
    </div>
  </div>
</div>
<div class = "home_box_set">
	<div class="box_element1"></div>
	<div class="box_element2"></div>
	<div class="box_element1"></div>
	<div class="box_element2"></div>
	<div class="box_element1"></div>
	<div class="box_element2"></div>
	<div class="box_element1"></div>
	<div class="box_element2"></div>
	<div class="box_element1"></div>
</div>
<div class= "home_domain">
	<h1>Engage</h1>
  <div class = "text_cols">
    <div class = "col">
      <p><strong><em>How do you inspire a community to act?</em></strong></p>
      <p>Change is seldom welcomed. The prevailing habits, obstinate behavior and bureaucratic inertia of an unengaged workforce disrupt the most well-intentioned organizational change campaigns. </p>
      <p>The tapestry of a company's culture is woven from singular personalities and interdependent relationships. Leaders are continually challenged to unlock the agency of the individual while simultaneously cultivating a shared sense of citizenship. Using Second Road's union of design and language, leaders no longer dictate change - they engage communities as co-creators of a collectively realised future.
      </p>
    </div>
    <div class = "col">
    	<p>Second Road's Thinking Technologies™ have helped a variety of clients <strong>liberate and mobilize the creative energy of their workforce</strong> to engage communities of action.</p>
    </div>
  </div>
</div>
<div class = "home_box_set">
	<div class="box_element1"></div>
	<div class="box_element2"></div>
	<div class="box_element1"></div>
	<div class="box_element2"></div>
	<div class="box_element1"></div>
	<div class="box_element2"></div>
	<div class="box_element1"></div>
	<div class="box_element2"></div>
	<div class="box_element1"></div>
</div>
<div class= "home_domain">
	<h1>Illuminate</h1>
  <div class = "text_cols">
    <div class = "col">
      <p><strong><em>How do you inspire a community to act?</em></strong></p>
      <p>Change is seldom welcomed. The prevailing habits, obstinate behavior and bureaucratic inertia of an unengaged workforce disrupt the most well-intentioned organizational change campaigns. </p>
      <p>The tapestry of a company's culture is woven from singular personalities and interdependent relationships. Leaders are continually challenged to unlock the agency of the individual while simultaneously cultivating a shared sense of citizenship. Using Second Road's union of design and language, leaders no longer dictate change - they engage communities as co-creators of a collectively realised future.
      </p>
    </div>
    <div class = "col">
    	<p>Second Road's Thinking Technologies™ have helped a variety of clients <strong>liberate and mobilize the creative energy of their workforce</strong> to engage communities of action.</p>
    </div>
  </div>
</div>

<div id="promos">
  <div class="promoBox">
    <h3>What is an authorised organisation?</h3>
    <a href='http://www.reactive.com.au'>Play video</a>
  </div>
</div>
