<div id="content">
  <h1>Our DNA</h1>
  <div class="wysiwyg">
    <p class="introPara">What makes us different?</p>
    <p><strong>Design and Language are the life force that defines
Second Road.</strong></p>

    <p>The deliberate fusion of these two distinct yet complementary
systems acts as a catalyst to <span>liberate creative thinking and
cohere diverse communities.</span></p>

    <p>Avoiding complexity is not an option for leaders today.
Complexity is the landscape - the challenge is how to respond.
Second Road relishes big, wicked problems. Our whole-of-system
approach harnesses the ambiguous forces that often frustrate our
clients. At the core of our approach is the art and science that
reside in design and language. We use these elements to <span>carve
creative, pragmatic pathways through complexity.</span></p>

    <p>The genius of language is its ability to unlock meaning, create
clarity and convey relevance in both written and verbal
communication.</p>

    <p>The elegance of design is its capacity to discover, invent and
prototype with end users front and centre.</p>

    <p>Together, language and design <span>transform complexity into
opportunity</span>.</p>
  </div>
  <ul class="relatedInfo"><li><a href="/who-we-are/our-community">OUR STAFF</a></li></ul>
</div>
<div id="extras"></div>
<div id="promos"></div>
