<div id="extras">
  <%= image_tag("media/office04.jpg", :width => "539", :height => "360" ) %>
  <p class="caption">Space to think...</p>
  <h1>Strategy</h1>

</div>
<div id="content">
	<div id = "colwrapper">
	<div class="wide">
		<h2>How do you build a future in an age of uncertainty? </h2>

		<p>Today’s world offers few absolutes and even fewer formulas for success. It is difficult to compete in an environment of lightning-fast change, let alone envision a future that doesn’t yet exist. To address these wicked problems, astute leaders need to re-calibrate the traditional instruments of strategy using the tools of conceptualization, conversation and co-creation. </p>

		<p>A successful strategy should be a robust blend of imagination and will – a dynamic, collaborative rhythm activated by clear, coherent intent. We work with clients to ignite their inherent creativity and to design their future success by: </p>
		<ul>
			<li>redefining the industry landscape</li>
			<li>reconfiguring enterprise systems</li>
			<li>re-energizing revenue models</li>
			<li>reinvigorating legacy products and services.</li>
		</ul>
		<p>Fueled by the power of design and language, Second Road enables leaders to discover what is possible, not just probable.</p>
	</div>
	</div>

</div>
<div id="promos">
  <%= image_tag("people/meredith_england.png", :size => "180x180"  ) %>
  <ul class="relatedInfo" />
</div>
<div id="overlayLeft" style="display: block"><a></a></div>
<div id="overlayRight" style="display: block"><a></a></div>
