<div id="content">
  <h1>The Second Road Story</h1>
  <div class="wysiwyg">   
    <p class="introPara">What is the “second road”?</p>


    <p>Aristotle believed in two roads to truth, according to Second
Road founder Tony Golsby Smith. The <span>first road</span>
followed the path of logic using an analytical mode of inquiry. The
<span>second road</span> offered an alternative path of rhetoric,
intent and invention. The first road is suitable for questions of
science, the second for exploring human interactions.</p>

    <p>Fast-forward two millennia. The western world of management
chose the first road during the 19<span>th</span> and
20<span>th</span> centuries to address burgeoning
industrialisation. Scalability, predictability and reliability were
attainable goals of the time.</p>

    <p><span>Today, the business world is a much different
place.</span> Volatile change makes it impossible to simply 'make a
plan and stick to it'. Logic and analysis alone are not enough to
prepare an organization for a future in a shifting, global
environment.</p>

    <p><span></span></p>

    <p>Business leaders looking for a better way to <span>envision
compelling yet flexible strategy, create common purpose and
mobilize people to action</span> need new skills derived from
design and language. The time has come to discover the second
road.</p>
  </div>
  <ul class="relatedInfo" />

  <div id="extras"></div>
  <div id="promos"></div>

</div>