<div id="extras">
  <%= image_tag("media/contentcolumnsimage.jpg", :width => "539", :height => "360" ) %>
  <p class="caption">Space to think...</p>
  <h1>Visual Thinking & Sythesis</h1>
  <p class="articleDate"></p>

  <p class="articleAuthor">Nigel Asken</p>
</div>
<div id="content">
  <div class="wysiwyg">
    <p class="introPara">We believe that people and organisations should be equipped to design their worlds. This means transforming people from being 'readers' of life to being 'authors'. This equipping starts inside people's heads and hearts, and moves them from being passive and cynical to being proactive and hopeful.</p>

    <p>Vestibulum eu risus nec lectus auctor vehicula et nec elit.
Pellentesque iaculis, ante at venenatis consequat, leo sapien
pulvinar erat, eu gravida felis massa ac ligula. Nam lobortis
ultrices dapibus. In hac habitasse platea dictumst. Nulla lacinia
fringilla augue. Nullam consectetur aliquam tellus et acinia.</p>

    <h2>HEADING 2</h2>

    <p>Phasellus dui urna, ullamcorper sed aliquet nec, dictum sit amet
enim. Nullam cursus interdum mi a tempus. Cras tortor erat,
ullamcorper in feugiat id, malesuada vitae mi. Aliquam facilisis
placerat orci, non consectetur est gravida et. Aliquam ac eros
tellus, non pretium dui. Sed tellus massa, blandit nec iaculis ut,
venenatis vel felis. Donec ut nunc quis ipsum consectetur
convallis. Proin accumsan feugiat dui nec mollis.</p>

    <p>Morbi iaculis, est a porta gravida, orci lectus luctus magna, ac
sagittis libero ligula vel est. Pellentesque habitant morbi
tristique senectus et netus et malesuada fames ac turpis egestas.
Aliquam quis est mauris. Sed vel orci nulla. Nulla id odio tortor,
interdum consequat nulla.</p>

    <p>Praesent non ultricies urna. Morbi ultrices, mauris eget mollis
luctus, quam nibh venenatis magna, ut congue elit magna et purus.
Praesent eu lacus eu leo aliquet euismod ac eu ipsum.</p>

    <p>Nulla nibh est, lobortis a iaculis et, sagittis eget dolor. Cras
elit massa, consequat bibendum ultrices id, fermentum vitae
urna.</p>

    <p>Phasellus aliquam lacinia leo tincidunt sollicitudin. Mauris
urna quam, varius mattis cursus volutpat, rhoncus ut mauris.
Suspendisse auctor quam nec mauris imperdiet et feugiat augue
facilisis. Integer vulputate urna id orci ullamcorper non convallis
orci vulputate.</p>

    <p>Nam consequat hendrerit mollis. Cras eu felis enim, id sagittis
est. Sed vitae dui sit amet augue elementum rutrum. Sed adipiscing
risus ut libero tempus quis congue urna malesuada. Nam tempus, elit
non tempus faucibus, odio elit auctor lorem, eget hendrerit justo
ipsum at massa.</p>

    <p>Maecenas feugiat augue a ipsum elementum quis tincidunt lectus
vehicula. Ut hendrerit suscipit magna. In sit amet eros a libero
adipiscing porta. Vestibulum ante ipsum primis in faucibus orci
luctus et ultrices posuere cubilia Curae; In a enim est, et
adipiscing tellus. Nullam massa nulla, mollis a placerat vitae,
fringilla id neque. Aliquam ut dui eros. Nullam in lacus quis
lectus iaculis cursus.</p>

    <p>Integer consectetur commodo tortor ut molestie. Phasellus ligula
lacus, hendrerit non rutrum id, ultricies vel magna. Sed eu sem
dolor, non scelerisque lorem. Cras semper pretium lobortis. Nulla
suscipit vestibulum velit sollicitudin hendrerit. Praesent quam
dolor, tempus vitae ornare a, dapibus non sem. Pellentesque tempor
accumsan ante sed egestas. Duis ut odio est, eget aliquet nunc.
Fusce sed congue dui. Proin feugiat placerat bibendum. Aliquam
volutpat hendrerit ligula, nec mollis tellus placerat in. Mauris
tristique, nunc non ullamcorper vehicula, ante orci mollis nunc,
non pharetra nisi elit vitae augue. Curabitur at orci tincidunt
nulla volutpat lacinia rhoncus in velit.</p>

    <p>Nam non neque pulvinar dui pulvinar euismod vitae a mi. In justo
magna, sollicitudin non aliquet ut, adipiscing ac erat. Duis
venenatis lacus quis elit dapibus fermentum. Maecenas rhoncus nulla
venenatis urna luctus gravida. Duis scelerisque sagittis lacus, in
posuere ligula aliquet eu. Cras lobortis turpis ac justo rutrum sed
tempor tellus commodo. Suspendisse potenti. Aliquam purus massa,
hendrerit at ultricies sed, tempus vel est. Nam feugiat hendrerit
nunc id luctus. Mauris nec tellus sit amet augue scelerisque
lobortis id in nunc. Vivamus adipiscing turpis quis enim cursus
tincidunt. Aliquam vulputate dui vitae urna consectetur non posuere
lacus molestie. Ut sollicitudin iaculis justo, quis laoreet justo
ornare vulputate. Fusce eleifend leo vitae nisi consectetur
accumsan. In sollicitudin blandit leo nec tristique.</p>

    <p>Nulla nibh est, lobortis a iaculis et, sagittis eget dolor. Cras
elit massa, consequat bibendum ultrices id, fermentum vitae
urna.</p>

    <p>Phasellus aliquam lacinia leo tincidunt sollicitudin. Mauris
urna quam, varius mattis cursus volutpat, rhoncus ut mauris.
Suspendisse auctor quam nec mauris imperdiet et feugiat augue
facilisis. Integer vulputate urna id orci ullamcorper non convallis
orci vulputate.</p>

    <p>Nam consequat hendrerit mollis. Cras eu felis enim, id sagittis
est. Sed vitae dui sit amet augue elementum rutrum. Sed adipiscing
risus ut libero tempus quis congue urna malesuada. Nam tempus, elit
non tempus faucibus, odio elit auctor lorem, eget hendrerit justo
ipsum at massa.</p>

    <p>Maecenas feugiat augue a ipsum elementum quis tincidunt lectus
vehicula. Ut hendrerit suscipit magna. In sit amet eros a libero
adipiscing porta. Vestibulum ante ipsum primis in faucibus orci
luctus et ultrices posuere cubilia Curae; In a enim est, et
adipiscing tellus. Nullam massa nulla, mollis a placerat vitae,
fringilla id neque. Aliquam ut dui eros. Nullam in lacus quis
lectus iaculis cursus.</p>

    <p>Integer consectetur commodo tortor ut molestie. Phasellus ligula
lacus, hendrerit non rutrum id, ultricies vel magna. Sed eu sem
dolor, non scelerisque lorem. Cras semper pretium lobortis. Nulla
suscipit vestibulum velit sollicitudin hendrerit. Praesent quam
dolor, tempus vitae ornare a, dapibus non sem. Pellentesque tempor
accumsan ante sed egestas. Duis ut odio est, eget aliquet nunc.
Fusce sed congue dui. Proin feugiat placerat bibendum. Aliquam
volutpat hendrerit ligula, nec mollis tellus placerat in. Mauris
tristique, nunc non ullamcorper vehicula, ante orci mollis nunc,
non pharetra nisi elit vitae augue. Curabitur at orci tincidunt
nulla volutpat lacinia rhoncus in velit.</p>

    <p>Nam non neque pulvinar dui pulvinar euismod vitae a mi. In justo
magna, sollicitudin non aliquet ut, adipiscing ac erat. Duis
venenatis lacus quis elit dapibus fermentum. Maecenas rhoncus nulla
venenatis urna luctus gravida. Duis scelerisque sagittis lacus, in
posuere ligula aliquet eu. Cras lobortis turpis ac justo rutrum sed
tempor tellus commodo. Suspendisse potenti. Aliquam purus massa,
hendrerit at ultricies sed, tempus vel est. Nam feugiat hendrerit
nunc id luctus. Mauris nec tellus sit amet augue scelerisque
lobortis id in nunc. Vivamus adipiscing turpis quis enim cursus
tincidunt. Aliquam vulputate dui vitae urna consectetur non posuere
lacus molestie. Ut sollicitudin iaculis justo, quis laoreet justo
ornare vulputate. Fusce eleifend leo vitae nisi consectetur
accumsan. In sollicitudin blandit leo nec tristique.</p>
  </div>
  <div class="shareArticle">
    <script type="text/javascript">
      var addthis_pub = "2876dadf-99f2-4147-aa3e-7e7ca8ac86e8"; 
      var addthis_options = 'twitter, facebook, email';
    </script> 
    <a class="lnk-share shareHover" onclick="return addthis_sendto()" 
  								    onmouseout="addthis_close()" 
								    onmouseover="return addthis_open(this, '', '[url]', '[TITLE]')" 			
								    href="http://www.addthis.com/bookmark.php?v=20">
								    SHARE THIS ARTICLE
    </a>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js"></script>
  </div>
</div>
<div id="promos">
  <img src='/media/950/staffmember.jpg' width='180' height='180' alt='Nigel Asken' />
  <ul class="relatedInfo" />
</div>
<div id="overlayLeft" style="display: block"><a></a></div>
<div id="overlayRight" style="display: block"><a></a></div>
